/* default browser styles reset */
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
/* main styles,colours spacing e.t.c variables */
:root{
  --mainBlue: #72ADC0;
  --mainWhite:#fff;
  --mainTransition:all 0.5s linear;
  --mainSpacing:0.1rem;
  --mainBlack:#2C2C2C;
  --mainGrey:#ececec;
  --mainRed: #DC2E27;
  --mainDarkBlue:#004777;

}
/* end  variable styles*/
body{

  font-family: 'Open Sans', sans-serif;
}
/* styles for main container */
.main-container{
  width:1555px;
  max-width: calc(100% - 5px);
  margin:0 auto;
  padding:0 10px;
}
/* end of styles for main container */
/* =================== */
